<% action = ( album.persisted? ? album_url(album) : albums_url) %>
<% method = ( album.persisted? ? "patch" : "post" ) %>

<form action='<%= action %>' method='POST'>
  <input type='hidden' name='_method' value='<%= method %>'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token  %>'>

  <label for='title'>Title:</label>
  <input id='title' type='text' name='album[title]' value='<%= album.title %>'>
  <br>

  <label for='band'>Band:</label>
  <select id='band' name='album[band_id]'>
    <% bands.each do |band| %>
    <option value='<%= band.id %>' <%= 'selected' if album.band == band  %>><%= band %></option>
    <% end %>
  </select>
  <br>

  <input id = 'recorded-studio' type='radio' name='album[recorded]' value='studio' <%= 'checked' if album.recorded == 'studio'  %>
  <label for='recorded-studio'>Studio</label>
  <br>

  <input id = 'recorded-live' type='radio' name='album[recorded]' value='live' <%= 'checked' if album.recorded == 'live'  %>
  <label for='recorded-live'>Live</label>
  <br>

  <button>Submit edits</button>
</form>
