<h1>Add a new album</h1>

<form action='<%= albums_url %>' method='POST'>

  <label for='title'>Title:</label>
  <input id='title' type='text' name='album[title]' value='<%= @album.title %>'>
  <br>

  <label for='band'>Band:</label>
  <select id='band' name='album[band_id]'>
    <% @bands.each do |band| %>
    <option value='<%= band.id %>' <%= 'selected' if @album.band == band  %>><%= band.name %></option>
    <% end %>
  </select>
  <br>

  <input id = 'recorded-studio' type='radio' name='album[recorded]' value='studio' <%= 'checked' if @album.recorded == 'studio'  %>
  <label for='recorded-studio'>Studio</label>
  <br>

  <input id = 'recorded-live' type='radio' name='album[recorded]' value='live' <%= 'checked' if @album.recorded == 'live'  %>
  <label for='recorded-live'>Live</label>
  <br>

  <button>Submit</button>
</form>
